[data-md-color-scheme="blockfortress"] {

	--md-default-fg-color:               hsla(0, 0%, 100%, 0.87);
	--md-default-fg-color--light:        var(--md-default-fg-color);
	--md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
	--md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
	--md-default-bg-color:               rgb(0, 0, 0);
	--md-default-bg-color--light:        hsla(0, 0%, 33%, 0.7);
	--md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
	--md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
    --md-code-fg-color:               hsla(0, 12%, 76%, 0.7);
    --md-code-bg-color:                hsl(240, 2%, 9%);
	--md-primary-fg-color:              hsl(21, 83%, 54%);
	--md-primary-fg-color--light:        hsl(21, 83%, 54%);
	--md-primary-fg-color--dark:         hsl(25, 87%, 37%);
	--md-primary-bg-color:               hsla(0, 0%, 100%, 1);
	--md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
	--md-accent-fg-color:                hsl(25, 87%, 37%);
	--md-accent-fg-color--transparent:   hsl(21, 83%, 54%);
	--md-accent-bg-color:                hsla(0, 0%, 100%, 1);
	--md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
    --md-footer-bg-color:              hsl(240, 2%, 9%);
    --md-footer-bg-color--dark:        hsl(0, 0%, 0%);
}